#!*
*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
temp
.DS_Store
*custom.el
places
.smex-items
smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
ido.last
*.exe
/irony/bin/irony-server.exe
custom-settings.el
projectile.cache
abbrev_defs
horoz.el
ac-comphist.dat
